$font-all:'Playfair Display', serif;
$font-text-all: 'Open Sans',sans-serif;
$color-text-all:#333;
$color-white:#fff;
$color-active:#118436;
$bgr-color-hd:#252c30;
$color-nm:#a55ca5;
$color-nm2:#ee4192;
$bgr-sec:#f5f8f2;
$bgr-o:linear-gradient(to bottom right, #ee4192, #ee4192);


$black: #000;
$white: #FFF;
$red: #fec70a;
$read: #4e4e4e;
$red-dark: #fec70a;
