
body { 

	background: #fff; 
	color: $color-text-all; 
	font-family: $font-text-all;
	margin:0;
	padding: 0;
	font-size: 14px;
	line-height: 1.7;
	width: 100%;
    float: left;

	.Wrapper {
	    max-width: 1900px;
	    margin: 0 auto;
	    width: 100%;

	}
	h1, h2, h3, h4, h5, h6{
    	line-height: 1.4;
    	font-family: $font-all;
    	font-weight: bold;
	} 
	h1, h2, h3, h4, h5, h6,p{
    	margin-bottom: 0;
	}
	h1{
		font-size: 72px;
	}
	h2{
		font-size: 36px;
	}
	h3{
		font-size: 22px;
	}
	h4{
		font-size: 18px;
	}
	@media (max-width: 767px) {
		h1{
			font-size: 66px;
		}
		h2{
			font-size: 28px;
		}
		h3{
			font-size: 20px;
		}
		h4{
			font-size: 18px;
		}
	}
	ul,li{
		list-style: none;
		padding: 0;
		margin-bottom: 0;
	}
	img{
		max-width: 100%;
	}
	button,input,select,textarea{
		&:focus{
			outline: 0;
		}
	}
	a{	
		color: unset;
		text-decoration: none;
		outline: none;
		&:hover,&:active,&:focus{
			text-decoration: none;
			color: unset;

		}
	}
		// @media (min-width: 1200px){
		// 	.container {
		//     	max-width: 960px;
		// 	}
		// }
	.hidden{
		display: none;
	}
	.hidden-pc{
		display: none;
		@media (max-width: 767px) {
			display: block;
		}
	}
	.hidden-mobie{
		@media (max-width: 767px) {
			display: none;
		}
	}
	.owl-next,.owl-prev{
		position: absolute;
		top: 50%;
		transform: translateY(-100%);
		width: 35px;
		height: 35px;
		border-radius: 50%;
		border: 1px solid gray!important;
		
		opacity:.3; 
	}
	.owl-prev{
		left: -30px;
		@media (max-width: 767px) {
			left: -5px;
		}
	}
	.owl-next{
		right: -30px;
		@media (max-width: 767px) {
			right: -5px;
		}
	}
	.back-to-top {
		position: fixed;
		bottom: -50px;
		right: -50px;
		transition: all .5s ease-out;
		-webkit-transition: all .5s ease;
		-moz-transition: all .5s ease;
		-o-transition: all .5s ease;
		width: 40px;height: 40px;
		-moz-border-radius: 4px;
		-webkit-border-radius: 4px;
		border-radius: 4px !important;
		-moz-background-clip: padding;
		background-color: $color-active;
		line-height: 45px;
		text-align: center;
		color: #fff;
		display: inline;
		z-index: 999999;
		cursor: pointer;
		a{
			display: block;
			color:#fff

		}
		&:hover{
			background: #fd6700;
			color: #fff;
		}
		&:hover,&:focus{
			a{
				color: #fff;
			}
		}
		&.display{
			bottom:50px;
			right: 10px;
		}
		&.fa{
			margin-bottom: 0;
		}
	}
	@media (max-width: 767px) {
			.order-2-mb{
				order: 2;
			}
			.order-1-mb{
				order: 1;
			}
		}
	section{
		position: relative;
		width: 100%;
		float: left;
		&:not(.banner){
			padding: 100px 0;
			@media (max-width: 767px) {
				padding: 60px 0;
			}
		}
	}
	

	.heading{
		margin-bottom: 50px;
		text-align: center;
		h2{
			margin-bottom: 15px;
			// padding-bottom: 15px;
			width: 100%;
			position: relative;
			
			// &:before{
			// 	position: absolute;
			// 	width: 20%;
			// 	height: 3px;
			// 	background: $color-nm2;
			// 	top: 100%;
			// 	content: "";
			// 	left: 50%;
			// 	transform: translateX(-50%);


			// }
		}
		p{
			padding:0 20%;
		}
		@media (max-width: 767px) {
			p{
				padding: 0;
			}
			h2{
				&:before{
					width: 30%;
				}
			}
		}
	}
	section.banner{
		// background: url("../images/bgr/banner.jpg");
		// background-repeat: no-repeat;
		// background-size: contain;
		// height: 100vh;
		img{
			width: 100%;
		}
	}
	section.highlights{
		.item-highlight{
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			margin-bottom: 50px;	
			.icon-img{
				width: 50px;
				height: 50px;
			}
			.content{
				width: calc(100% - 60px);
				h4{
					position: relative;
					padding-bottom: 5px;
					margin-bottom: 10px;
					&:before{
						content: "";
						position: absolute;
						top: 100%;
						left: 0;
						width: 100px;
						height: 2px;
						background:$color-nm2;
					}
				}
				p{
					@include text-hidden(2);
					min-height: 48px;
				}
			}
		}

	}
	section.step{
		background:$color-nm2;
		.heading{
			color: #fff;
		}

		.item-step{
			padding: 30px;
			box-shadow: 0px 0px 3px 0px #aaaaaa;
			 background-color: #fff;
			 text-align: center;
			 border-radius: 5px;
			 .box-img{
			 	padding: 0 10%;
			 	margin-bottom: 15px;
			 }
			.img-step{
				@include img-prod-resp(100%);
				border-radius:50%;
			}
			.content{
				h4{
					margin-bottom: 15px;
					font-family: $font-text-all;
					color: $color-nm2;
				}
				p{
					// @include text-hidden(5);
					min-height: 120px;
				}
			}
			@media (max-width:767px ) {
				margin-bottom: 15px;	
			}
		}
	}
	section.product-uses{
		background:url("../images/bgr/bgr-ong.png");
		background-size: cover;
		background-repeat: no-repeat;

		.list-product-uses{
			li{
				margin-bottom: 15px;
				padding-bottom: 15px;
				border-bottom: 2px dotted $color-nm2;
				h5{
					font-weight: bold;
					margin-bottom: 15px;
					color: $color-nm2;
				}
			}
		}
		@media (max-width: 991px) {
			.order-1-mb{
				order: 1;
			}
			.order-2-mb{
				order: 2;
			}
			.box-img{
				margin-bottom: 30px;
			}
			.list-product-uses{
				margin-bottom: 30px;
			}
		}
		.box-img{
			text-align: center;
		}

	}
	section.order{
		background:$color-nm2;
		.box-text-sale{
			background:rgba(0,0,0,0.67);
			padding:37px  30px;
			border-radius: 15px;
			color: #fff;

			text-align: center;
			p{
				margin-bottom: 10px;
			}
			.price-o{
				font-size: 20px;
				text-decoration: line-through;
			}
			h4{
				font-size: 32px;
				margin-bottom: 15px;
				font-family: $font-text-all;
				color: $red;
				
			}
			.percent{
				font-size: 36px;
				text-transform:uppercase;
				font-weight: bold;
			}
			.note{
				padding: 10px 0;
				border-top:1px solid $red;
				border-bottom:1px solid $red;
				span{
		    		font-size: 18px;
	    			color: $red;
			    	
			    }
			}
			.now{
				font-size: 32px;
			    text-transform: uppercase;
			    font-weight: bold;
			    
			}
			@media (max-width: 767px) {
				margin-bottom: 30px;
				h4{
					font-size: 25px;
				}
				.percent{
					font-size: 30px;
				}
				.now{
					font-size: 30px;
				}
			}

		}
		.heading{
			color: #fff;
		}
		#clockdiv{
			font-family: sans-serif;
			color: #fff;
			display: flex;
			flex-wrap: wrap;
			font-weight: 100;
			text-align: center;
			justify-content: center;
			font-size: 30px;
			margin-bottom: 15px;
			>div{
				padding: 5px 10px;
				border-radius: 3px;
				background:rgba(0,0,0,0.67) ;
				margin:0 10px;
				span{
					padding: 5px;
					border-radius: 3px;
					background: rgba(0,0,0,0.67) ;
				}
				.smalltext{
					font-size: 11px;
				}
			}
			@media (max-width: 767px) {
				>div{
					margin:0 5px;
				}
			}

		}
		.box-form{
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			input{
				width: 100%;
				margin-bottom: 15px;
				height: 45px;
				padding: 0 10px;
				border-radius: 5px;
				border: none;
			}
			.name,.sdt{
				width: calc(50% - 5px);

			}

		}
		.box-btn{
			button{
				width: 100%;
				border-radius:5px;
				text-align: center;
				height: 45px;
				border: none;
				background: $red;
				color: #fff;
				text-transform:uppercase;
				font-size: 16px;
				font-weight: bold;
			}
		}

	}
	section.feedback{
		background: url("../images/bgr/bgr-fb.jpg");

		.owl-item {
    		padding: 5px;
		}
		.list-feedback{
			padding: 10px;
			.item{
				padding: 10px;
				// border: 1px solid $color-nm2;
				box-shadow:2px 1px 3px 0 #c3c3c3;
				background: #f5f5f5;
				@media (max-width: 767px) {
					box-shadow:0px 0px 3px 0 #c3c3c3;
				}
				.box-fb-top{
					text-align: center;
					margin-bottom: 10px;
					.box-img{
						@include img-prod-resp(150px);
						width: 150px;
						margin:0 auto;
						margin-bottom: 15px;
						img{
							width: 150px;
							height: 150px;
							border-radius: 50%;
						}
					}
					svg{
						width: 25px;
					}
				}
				.info{
					text-align: center;
					h4{
						margin-bottom: 5px;
					}
					p{
						color:gray;
					}
				}
			}
			&:hover{
				.owl-next,.owl-prev{
					opacity:.8;
				}
			}
		}
	}
	
}
