#footer{
	// background: url("../images/bgr/bgr-fb.jpg");
	position: relative;
	width: 100%;
	float: left;
	color: #fff;
	.ft-top{
		// background: #fff;
		padding: 30px 0;
		border-bottom: 1px solid rgba(255,255,255,.05);
		.container{

			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			align-items: center;
		}
		
		.links-footer{
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			color: #fff;
			>p{
				font-family: $font-all;
				font-size: 16px;
				font-weight: bold;
				color: #fd6700;	
			}
			.list-links-ft{
				
				padding-left: 40px;
				
				span{
					height: 50px;
					width: 50px;
					border-radius:50%;
					background: $color-active;
					line-height: 55px;
					text-align: center;
					color: #fff;
					margin-left: 10px;
					display: inline-block;
					i{
						font-size: 18px;
					}
				}
			}
		}
	}
	.ft-mid{
		background: $color-nm2;
		padding: 30px 0;
		position: relative;
		&:before {
		    position: absolute;
		    width: 100%;
		    height: 100%;
		    content: "";
		    // background: #00000050;
		    left: 0;
		    top: 0;
		}
		.item-ft{
			h3{
				font-size: 30px;
				font-weight: bold;
				font-family: $font-text-all;
				margin-bottom: 30px;
			}
			>p{
				margin-bottom:20px;
				span{
					color: #fff;
					font-weight: bold;
				}
			}
			ul{
				li{
					margin-bottom: 15px;
					span{
						color: #fff;
						width: 30px;
						display: inline-block;
						font-size: 18px;
					}
				}
			}
			.box-map{
				iframe{
					width: 100%;
				}
			}
		}
		@media (max-width: 767px) {
		    background-position: 100%;
		}
	}
	.ft-bottom{
		background: rgba(0,0,0,.25);
		background: $color-nm;
		padding: 15px 0;
	}
	@media (max-width: 767px) {
		.ft-top{
			.logo-ft{
				text-align: center;
			    width: 100%;
			    margin-bottom: 30px;
			}
			.links-footer{
				width: 100%;
				.list-links-ft{
				text-align: center;
					padding-left: 0;
					text-align: center;
					width: 100%;
					span{
						margin:0 5px;
					}
				}
			}
			
		}
		.ft-mid{
			.item-ft {
			    h3{
			    	text-align: center;
			    }
			}
		}
		
	}
}